#result{
  text-align: right;
  width:170px;
  height:40px;
  margin-bottom: 10px
}

div{
  justify-content:space-evenly;
  padding-top: 10px

}

input{
  display:inline-block;
  width: 40px;
  height:40px;
  text-align: center
}

.clear{
  width:85px;
  height:40px;
}

.enter{
  width:85px;
  height:40px;
}